* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 24px;
}

#viewport {
  background: #fafafa;
  display: block;
  width: 100%;
  height: 100%;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.state-ui-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: left;
  align-items: left;
}

.ui-text {
  user-select: none;
  font-family: "VT323";
  font-size: 58px;
  font-weight: bold;
  font-variant-numeric: tabular-nums;
  margin: 10px;
  color: #763e93;
  text-align: left;
  padding: 15px;
}

#score {
  left: 0;
}

#lives {
  right: 0;
}

#title-text, #game_over-text {
  text-align: center;
}

.ui-text--heading {
  font-size: 4em;
}

.state-ui-container {
  width: 100%;
  display: none;
  height: 100%;
  justify-content: center;
}

.console {
  align-self: center;
}
.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.move-arrow {
  position: absolute;
  bottom: 250;
  width: 80px;
  height: 80px;
  padding: 15px;
}

#move-right {
  right: 20;
}

#move-left {
  left: 20;
}
